#maindiv {
  background: url("../../assets/rectangle.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure it's on top of other content */
}
