.services {
    margin-left: 10px;
    height: 100px;
    align-items: center;
    transition: margin-left 0.5s ease-out;
    display: flex;
    font-size: 3rem;
}

.services.move-right {
    margin-left: 275px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .services-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.add-services {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 20px;
    margin-right: 20px;
    margin-left: 500px;
  }
  
  .add-services button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    height: fit-content;
    display: flex;
    align-items: center;
    /* width: fit-content; */
  }
  
  .add-services button:hover {
    background-color: #0062cc;
  }
  

  @media screen and (max-width: 768px) {
    .add-services {
        margin-left: 200px;
    }
}