.profile {
    margin-left: 10px;
    height: 100px;
    align-items: center;
    transition: margin-left 1s ease-out;
    display: flex;
    font-size: 3rem;
}

.profile.move-right {
    margin-left: 275px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-container button {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-container button:hover {
    background-color: #333;
    color: #fff;
}

.button-container button.active {
    background-color: #1ccae1;
    color: #fff;
}

.save-span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 20px;
    margin-right: 20px;
}

.save-button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: auto;
}

.save-button:hover {
    background-color: #9922ee;
}


.page-container {
    display: flex;
}

.division {
    border-bottom: 2px solid #ccc;
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.5), inset 0 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .save-span {
        justify-content: center;
    }
}