.profilepage {
  margin-left: 10px;
  height: 100px;
  align-items: center;
  transition: margin-left 0.5s ease-out;
  display: flex;
  font-size: 3rem;
}

.profilepage.move-right {
  margin-left: 275px;
}

.card-container {
  background-image: linear-gradient(to bottom right, #4f7cac, #f8f4e3);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;

}

.card-header {
  display: flex;
  flex: content;
  align-items: center;
}

.card-profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-info {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}

.card-username {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
}

.card-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  margin-top: 40px;
  display: flex;
}

.card-bio {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  margin-top: 40px;
  display: flex;
}

.input-field {
  width: 50%;
  max-width: 300px;
  display: flex;
}

.textarea {
  padding: 10px;
  border-radius: 5px;
}

.bio {
  width: 160%;
  max-width: 600px;
  /* max-height: 400px; */
}


@media screen and (max-width: 768px) {
  .card-username {
    font-size: 1.3rem;
  }
}