.profilepage {
    margin-left: 10px;
    height: 100px;
    align-items: center;
    transition: margin-left 1s ease-out;
    display: flex;
    font-size: 3rem;
}

.profilepage.move-right {
    margin-left: 275px;
}

.card-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;

  }
  
  .card-header {
    display: flex;
    align-items: center;
  }
  
  .card-profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .card-info {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
  }
  
  .card-username {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
  }
  
  .card-name {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #666;
    margin-top: 40px;
  }
  
  .card-bio {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
  }

  .division {
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.5), inset 0 1px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 50%;
    max-width: 300px;
    display: flex;
}
  
textarea {
    padding: 10px;
}
