.userservices-page {
    margin-left: 10px;
    align-items: center;
    transition: margin-left 0.5s ease-out;
    display: flex;
    font-size: 3rem;
}

.userservices-page.move-right {
    margin-left: 275px;
}

.user-not-present {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #ff4d4d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 180px auto 0;
    max-width: 400px;
}

.user-not-present:before {
    content: "!";
    display: block;
    font-size: 48px;
    margin-bottom: 20px;
}

.user-not-present:hover {
    background-color: #ff6666;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.service-username {
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.user-service_cards-container {
    background: linear-gradient(45deg, #49cdc0, #2e86de);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 97%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 12px;
}

.service_card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #fff, #e6e6e6);
    transition: transform 0.5s;
}

.service_card:hover {
    opacity: 0.9;
    background-color: rgb(175, 110, 147);
}

.service_card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_card-title {
    margin: 0;
}

.service_card-price {
    display: flex;
    font-size: 1.2rem;
    gap: 5px;
}

.service_card-price svg {
    margin-top: 1px;
}

.service_card-body {
    margin-top: 20px;
}

.service_card-description {
    margin: 0;
    font-size: 1.1rem;
    display: flex;
    gap: 5px;
}

.service_card-description svg {
    margin-top: 3px;
}

.service_card-call-duration {
    margin-top: 10px;
    font-size: 0.9rem;
}

.booking-button {
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .booking-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #003662;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }
  
  .booking-button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .booking-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ff6a88, #6d66ff);
    opacity: 0.5;
    z-index: -2;
  }
  
  .booking-button:hover:after {
    opacity: 0.8;
  }
  
  .booking-button span {
    position: relative;
    z-index: 1;
  }
  